.boxLink, .boxLink:link:active:visited {
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.boxName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linkDragOver {
    composes: boxLink;
    background-color: rgb(54, 54, 54);
}