.itemRow {
    height: 150px;
    padding: 0px 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: [index] 30px [image] .5fr [data] 2fr [notes] 2fr;
    align-items: center;
}

.itemRow:hover {
    background-color: rgb(48, 48, 48);
}

.spotifyIcon {
    width: 10px;
    margin-right: 3px;
}

.colCentered {
    text-align: center;
}

.colLeftAlgn {
    text-align: left;
}


.imageContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.instantPlay {
    visibility: hidden;
    width: 50px;
    height: 20px;
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 5000px;
    background-color: #282c34CC;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    cursor: pointer;
    font-size: .7em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer:hover .instantPlay {
    visibility: visible;
}

.spotifyIcon {
    width: 10px;
    margin-right: 3px;
}

.itemImage {
    width: 100%;
    position: absolute;
    top: 0;
    cursor: grab;
    z-index: 50;
}

.dataCol {
    height: 100%;
    padding: 0px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-weight: bold;
    font-size: 1.1em;
    font-style: italic;
    padding: 0px 5px;
}

.artist {
    padding: 0px 4px;
}

.artistName {
    display: inline;
}

.metaDataContainer{
    margin-top: 10px;
    display: flex;
    column-gap: 4px;
}

.metaDataPill {
    height: 17px;
    font-size: .8em;
    border-radius: 500px;
    padding: 2.5px 9px;
    background-color: #1a1a1a;
    line-height: 17px;
    vertical-align: middle;
}

.notesCol {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notesPanel {
    width: 90%;
    height: 80%;
    background-color: rgb(61, 61, 61);
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
}

.notesTitle {
    font-size: .8em;
    letter-spacing: 1px;
}

.notesEditor {
    margin-top: 5px;
    width: 100%;
    resize: none;
    background-color: rgb(61, 61, 61);
    border: 0px;
    caret-color: #ffffff;
    color: #ffffff;
}