.sectionPanel {
    border-top: 1px solid gray;
    padding-bottom: 30px
}

.sectionUtilities {
    margin-top: 5px;
    height: 35px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleButtonDashboard {
    display: flex;
    gap: 5px;
}

.toggleButton {
    cursor: pointer;
    background-color: gray;
    border-radius: 500px;
    padding: 5px 8px;
    font-size: .75em;
}

.sectionDescriptor {
    display: flex;
    align-items: center;
}

.sectionIcon {
    margin: 0px 7px;
    height: 15px
}

.sectionWithSubs {
    
}

.defaultSubSection {
    display: block;
}

.hidden {
    display: none;
}

@media (max-width: 576px) {
    .toggleButtonDashboard {
        display: none;
    }
}