.itemRow {
    height: 150px;
    padding: 0px 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: [index] 30px [image] .5fr [data] 2fr [notes] 1.8fr [options] 30px;
    align-items: center;
    cursor: grab;
}

.itemRow:hover {
    background-color: rgb(48, 48, 48);
}

.spotifyIcon {
    width: 10px;
    margin-right: 3px;
}

.colCentered {
    text-align: center;
}

.colLeftAlgn {
    text-align: left;
}


.imageContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.instantPlay {
    visibility: hidden;
    width: 50px;
    height: 20px;
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 5000px;
    background-color: #282c34CC;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    cursor: pointer;
    font-size: .7em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer:hover .instantPlay {
    visibility: visible;
}

.spotifyIcon {
    width: 10px;
    margin-right: 3px;
}

.itemImage {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 50;
}

.itemMenu {
    width: 20px;
    height: 20px;
    background-color: #1a1a1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dataCol {
    height: 100%;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemName {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0px 5px;
}

.itemNameItalic {
    composes: itemName;
    font-style: italic;
}

.artist {
    padding: 0px 5px;
}

.artistName {
    display: inline;
}

.metaDataContainer{
    margin-top: 10px;
    display: flex;
    column-gap: 3px;
    row-gap: 3px;
    flex-wrap: wrap;
}

.metaDataPill {
    height: 22px;
    font-size: .8em;
    border-radius: 500px;
    padding: 0px 8px;
    background-color: #1a1a1a;
    line-height: 22px;
    vertical-align: bottom;
}

.playlistDesc {
    padding: 0px 4px;
    font-size: .8em;
}

.notesCol {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notesPanel {
    width: 95%;
    height: 85%;
    background-color: rgb(61, 61, 61);
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.notesTitle {
    font-size: .7em;
    letter-spacing: 1.5px;
}

.notesEditor {
    margin-top: 5px;
    width: 100%;
    resize: none;
    background-color: rgb(61, 61, 61);
    border: 0px;
    caret-color: #ffffff;
    color: #ffffff;
}

.notesOverlay {
    display: none;
}

.notesPanel:hover .notesOverlay {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.overlayTitle {
    font-size: .9em;
    letter-spacing: 2px;
}

.notesDisplay {
    padding-top: 5px;
    font-size: .8em;
}