.itemContainer {
    display: flex;
    flex-direction: column;
}

.trackListHeader {
    display: grid;
    column-gap: 10px;
    grid-template-columns: [index] 30px [title] 1fr [artist] 1fr [album] 1fr [time] 60px [explicit] 100px [spotify] 60px;
}

.albumListHeader {
    display: grid;
    grid-template-columns: [index] 16px [title] 2fr [artist] 2fr [album] 2fr [time] 100px [explicit] 100px [spotify] 100px;
}

.playlistListHeader {
    display: grid;
    grid-template-columns: [index] 16px [title] 2fr [artist] 2fr [album] 2fr [time] 100px [explicit] 100px [spotify] 100px;
}

.headerCentered {
    text-align: center;
}

.headerLeftAlgn {
    text-align: left;
}