.topListTitle{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.itemList, .itemGroup {
    display: flex;
    gap: 15px;
}

.itemGroup {
    width: 50%
}

.rankColumn {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.itemColumn {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 12px;
    max-height: 360px;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: stretch;
    flex-grow: 1;
}

.rankNumber {
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    direction: rtl;
}

.mobileVisible {
    display: none;
}

@media (max-width: 576px) {

    .mobileVisible {
        display: flex;
    }

    .mobileHidden {
        display: none;
    }

    .itemGroup {
        width: 100%
    }

    .itemList{
        flex-wrap: wrap;
    }

    .itemColumn {
        max-height: none;
    }

    .topListTitle {
        margin-left: 8px;
    }
}
