.visualizerContainer {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
    margin-top: 25px;
}

.trackLyrics {
    width: 55%;
    min-height: 200px;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.lyricsTitle {
    font-size: .7em;
    letter-spacing: 1.5px;
}

.lyrics {
    max-width: 500px;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 15px;
    overflow: hidden;

    /*
    white-space: -moz-pre-wrap !important; 
    white-space: -pre-wrap;   
    white-space: -o-pre-wrap; 
    white-space: pre-wrap;    
    word-wrap: break-word;      
    white-space: -webkit-pre-wrap; 
    word-break: break-all;
    white-space: normal;
    */
}

.related {
    width: 45%;
    padding: 15px;
}

.albumTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.relatedTitle {
    font-size: .7em;
    letter-spacing: 1.5px;
}

.relatedTracks {
    margin-top: 20px;
}

.tracksContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.tracklistCol {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.relatedRow {
    min-height: 20px;
    display: flex;
    flex-wrap: nowrap;
    font-size: .85em;
}

.colCentered {
    text-align: center;
}

.colLeftAlgn {
    text-align: left;
}

@media (max-width: 576px) {

    .visualizerContainer {
        flex-wrap: wrap;
    }

    .trackLyrics {
        width: 100%;
    }

    .related {
        margin-top: 15px;
        width: 100%;
    }
}