.itemCard {
    height: 42px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34CC;
    box-sizing: border-box;
    cursor: pointer;
    overflow-anchor: none;
    padding: 5px;
    gap: 8px;
}

.itemCard:hover {
    background-color: #383d47cc;
}

.itemCardReorder {
    composes: itemCard;
    width: 180px;
    overflow: hidden;
    justify-content: flex-start;
    border: 1px solid white;
    user-select: none;
}

.name {
    color: #ffffff;
    font-weight: 500;
    padding-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemImage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 2px;
}