#modalBody {
    padding: 20px 30px 20px 30px;
}

#sortingForm {
    display: flex;
    flex-direction: column;
}

.formElement {
    margin: 5px 0px
}

#modalFooter {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section {
    margin-bottom: 10px;
}

.sortingRow {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 10px;
}

.rowName {
    width: 75px;
    font-weight: bold;
    margin-bottom: 5px;
}

.formInput {
    margin-right: 10px;
}

select {
    width: 100px
}

label {
    margin-right: 5px;
}