.itemRow {
    height: 45px;
    padding: 0px 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: [index] 30px [title] 1fr [description] 2fr [tracks] 60px [owner] 100px  [spotify] 60px [options] 20px;
    align-items: center;
}

.itemRow:hover {
    background-color: rgb(48, 48, 48);
}

.instantPlay {
    width: 50px;
    height: 20px;
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 5000px;
    background-color: #282c34CC;
    cursor: pointer;
    font-size: .7em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotifyIcon {
    width: 10px;
    margin-right: 3px;
}

.itemMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.colCentered {
    text-align: center;
}

.colLeftAlgn {
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}