.contextSearchContainer {
    width: 350px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(61, 61, 61);
    color: #ffffff;
    font-weight: 400;
    font-size: .8em;
}

.searchBox {
    padding: 16px;
    border-bottom: 1px solid var(--chakra-colors-gray-200);
}

.resultsContainer {
    height: calc(100% - 72px);
    overflow: auto;
    padding: 16px;
}