#modalBody {
    padding: 30px 50px 30px 50px;
}

#newBoxForm {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formElement {
    margin: 5px 0px
}

#modalFooter {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#boxDesc {
    resize: none;
}

.errorMsg {
    font-size: .8rem;
    color: #FFD119
}