.spotifyWrapper {
    height: 100%;
    overflow-x: hidden;
    padding: 20px 30px;
    box-sizing: border-box;
}

.recentlyPlayedSection {
    margin-top: 60px;
}

.userPlaylistsSection {
    margin-top: 50px;
}