.container {
  max-height: 100%;
  overflow-y: auto;
  padding: 30px
}

.smallText {
    font-size: 14px;
    color: #b6b6b6;
}

.mobileTitle {
    display: none;
}

@media (max-width: 576px) {
    .mobileTitle {
      display: block;
    }
}