.rowContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 15px 0px;
}

.rowContainer:not(:first-child) {
  border-top: 1px solid #34363a;;
}

.contentContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
