#newBoxForm {
    display: flex;
    flex-direction: column;
}

.formElement {
    margin: 5px 0px
}

#modalFooter {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#boxDesc {
    resize: none;
}