
.boxListWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 3px;
}

.boxListHighlighted {
    composes: boxListWrapper;
    background-color: rgb(26, 26, 26);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}