.homeContainer {
    height: 100%;
    overflow-x: hidden;
    padding: 20px 30px;
    box-sizing: border-box;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
}

.roundedButton {
    height: 40px;
    padding: 0px 15px;
    border-radius: 500px;
    cursor: pointer;
    color: #ffffff;
    background-color: #1DB954;
    border: 0px;
}

.buttonContents {
    display: flex;
    align-items: center;
    gap: 6px;
}

.spotifyIcon {
    width: 15px;
}

.folderList, .boxList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.boxList {
    margin-top: 20px;
}

@media (max-width: 576px) {
    .homeContainer {
        padding: 10px 20px;
    }
}