#actionsHidden {
    display: none;
}

#actionsActive {
    position: fixed;
    top: 85%;
    right: 33%;
    height: 80px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
    background-color: #0f0f0f;
    border-radius: 500px;
}

.actionsTitle {
    font-size: .7em;
    margin-left: 10px;
    margin-right: 15px;
    letter-spacing: 1px;
}

.dragActionsButton {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idleColor {
    background-color: rgb(224, 224, 224);
}

.dragOverColor {
    background-color: rgb(224, 224, 224, 0.5);
}

#deleteImg {
    width: 70%
}

#addToImg {
    width: 45%
}