#layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px calc(100vh - 80px);
    grid-template-areas: 
    "header header"
    "sidebar main"
}

#headerWrapper {
    background-color: rgb(15, 15, 15);
    grid-area: header;
    border-bottom: 1px solid gray;
}

#sideBar {
    background-color: rgb(15, 15, 15);
    grid-area: sidebar;
}

#mainView {
    background-color: rgb(26, 26, 26);
    grid-area: main;
    color: #ffffff;
    position: relative;
}