#modalBody {
    padding: 30px 50px 30px 50px;
}

#newBoxForm {
    display: flex;
    flex-direction: column;
}

.formElement {
    margin: 5px 0px
}

#actionButtonRow {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modalFooter {
    display: flex;
    align-items: center;
}

#boxDesc {
    resize: none;
}