.subSectionWrapper {
    margin-top: 15px;
}

.subSectionName {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 2px;
    background-color: #2C313D4D;
}

.linkDragOver {
    composes: subSectionName;
    border: 1px solid hsl(84, 100%, 59%, 0.95);
}

