#modalBody {
    padding: 20px 30px 20px 30px;
}

#newFolderForm {
    display: flex;
    flex-direction: column;
}

.formElement {
    margin: 5px 0px
}

#modalFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#boxDesc {
    resize: none;
}