#mainPanel {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 30px;
    box-sizing: border-box;
}

.boxHeader {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.boxSquare {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.boxIcon {
    width: 50px;
}

#boxName {
    margin-top: 0px;
    margin-bottom: 0px
}

#boxDesc {
    font-size: 14px;
    margin-bottom: 2px;
}

#emptyMsgDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emptyMsg {
    text-align: center;
}

.creatorName {
    color: hsl(84, 100%, 59%, 0.9);
    font-size: 12px;
}

@media (max-width: 576px) {
    #mainPanel {
        padding: 15px;
    }
}