#modalDiv {
    min-width: 100%;
    top: 0px;
    bottom: 0px;
    background-color: rgb(0,0,0, .8);
    position: fixed;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#modalPanel {
    min-width: 450px;
    max-height: 80vh;
    overflow: hidden;
    background-color: rgb(26, 26, 26);;
    color: #ffffff;
    border-radius: 5px;
}

#modalHeader {
    position: sticky;
    height: 40px;
    display: flex;
    padding: 15px 25px;
    background-color: rgb(15, 15, 15);
    border-radius: 5px 5px 0px 0px;
    box-sizing: content-box;
}

#modalBody {
    max-height: calc(80vh - 70px); 
    overflow-y: auto;
    padding: 20px 30px 10px 30px;
}

#modalTitle {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5em;
    font-weight: bold;
}

#closeModal {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#closeIcon {
    width: 50%;
    fill: white;
}

@media (max-width: 576px) {
    #modalPanel {
        min-width: 100px;
        width: 90%;
    }
}