.topItem {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 12px;
    max-width: 100%;
}

.itemImage {
    width: 50px;
    height: 50px;
}

.itemData {
    overflow: hidden;
    flex-grow: 1;
}

.artistName {
    font-size: 1.2em;
    font-weight: 600;
}

.itemDataName {
    font-weight: bold;
    min-width: 0;
}

.itemDataName, .itemDataArtist {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}