.itemRow {
    height: 150px;
    padding: 0px 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 30px 150px 2fr 1.8fr 30px;
    align-items: center;
    overflow: hidden;
}

.itemRow:hover {
    background-color: rgb(48, 48, 48);
}

.dragHandle {
    cursor: grab;
}

.spotifyIcon {
    width: 10px;
    margin-right: 3px;
}

.colCentered {
    text-align: center;
}

.itemPosition {
    display: flex;
    justify-content: center;
}


.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemLink {
    position: relative;
    width: 85%;
    height: 85%;
    overflow: hidden;
}

.itemImage {
    width: 100%;
    z-index: 50;
}

.instantPlay {
    visibility: hidden;
    width: 50px;
    height: 20px;
    padding: 2px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 5000px;
    background-color: #282c34CC;
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 100;
    cursor: pointer;
    font-size: .7em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer:hover .instantPlay {
    visibility: visible;
}

.spotifyIcon {
    width: 10px;
    margin-right: 3px;
}

.itemMenu {
    width: 20px;
    height: 20px;
    background-color: #1a1a1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dataCol {
    height: 100%;
    overflow: hidden;
    padding: 0px 5px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemName {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0px 5px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.itemNameItalic {
    composes: itemName;
    font-style: italic;
}

.artist {
    padding: 0px 5px;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.artistName {
    display: inline;
}

.metaDataContainer {
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    column-gap: 3px;
    row-gap: 3px;
    flex-wrap: wrap;
}

.metaDataPill {
    height: 22px;
    max-width: 100%;
    font-size: .8em;
    border-radius: 500px;
    padding: 0px 8px;
    background-color: #1a1a1a;
    line-height: 22px;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlistDesc {
    padding: 0px 4px;
    font-size: .8em;
}

.notesCol {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.notesPanel {
    width: 95%;
    height: 85%;
    background-color: rgb(61, 61, 61);
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.notesTitle {
    font-size: .7em;
    letter-spacing: 1.5px;
}

.notesOverlay {
    display: none;
}

.notesPanel:hover .notesOverlay {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.overlayTitle {
    font-size: .9em;
    letter-spacing: 2px;
}

.notesDisplay {
    padding-top: 5px;
    font-size: .8em;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {

    .itemRow {
        height: 100px;
        padding: 0px 0px;
        column-gap: 5px;
        grid-template-columns: 30px 85px 2fr 30px;
    }

    .itemLink {
        position: relative;
        width: 100%;
        height: 85%;
        overflow: hidden;
    }

    .dataCol {
        padding: 0px 0px;
        padding-left: 5px;
    }

    .metaDataContainer {
       max-height: 50px;
       margin-top: 5px;
       overflow: hidden;
    }

    .notesCol {
        display: none;
    }
}