.sectionPanel {
    border-top: 1px solid gray;
    padding-bottom: 30px
}

.sectionUtilities {
    height: 35px;
    padding: 0px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sectionIcon {
    margin: 0px 7px;
    height: 15px
}

.sectionWithSubs {
    
}

.sectionNoSubs {
    display: block;
}

.defaultSubSection {
    display: block;
}

.hidden {
    display: none;
}