#actionsHidden {
    display: none;
}

#actionsActive {
    position: fixed;
    top: 85%;
    right: 33%;
    width: 220px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
}

.dragActionsButton {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idleColor {
    background-color: rgb(224, 224, 224);
}

.dragOverColor {
    background-color: rgb(224, 224, 224, 0.5);
}

#deleteImg {
    width: 70%
}

#addToImg {
    width: 45%
}