#header {
    display: flex;
    height: 100%
}

#logoSide {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoContainer {
    font-size: 2.5em;
    color: #ffffff;
    font-weight: bold;
}

#logo {
    height: .7em;
    border-radius: .1em;
}

#headerTools {
    flex-grow: 1;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 25px
}

#searchBox {
    width: 200px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 500px;
    display: flex;
    align-items: center;
    padding: 0px 15px
}

#inputWrapper {
    flex-grow: 1;
}

#searchInput {
    width: 100;
    border: 0px
}

#searchInput:focus {
    outline: none;
}

#searchIcon {
    width: 15px
}

#newButton {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#newButton:hover {
    background-color: #ffffff;
}

#plusIcon {
    width: 50%
}