#layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 80px auto;
    grid-template-areas: 
    "header header"
    "sidebar main"
}

#header {
    background-color: rgb(15, 15, 15);
    grid-area: header;
    display: flex;
}

#logoSide {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoContainer {
    font-size: 3em;
    color: #ffffff;
    font-weight: bold;
}

#headerTools {
    flex-grow: 1;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 30px
}

#searchBox {
    width: 200px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 500px;
    display: flex;
    align-items: center;
    padding: 0px 15px
}

#inputWrapper {
    flex-grow: 1;
}

#searchInput {
    width: 100;
    border: 0px
}

#searchInput:focus {
    outline: none;
}

#searchIcon {
    width: 15px
}

#sideBar {
    background-color: rgb(15, 15, 15);
    grid-area: sidebar;
}

#mainView {
    background-color: rgb(26, 26, 26);
    grid-area: main;
    padding: 20px 30px;
    color: #ffffff
}