.container {
  max-height: 100%;
  overflow-y: auto;
  padding: 30px
}

.userWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.userImage {
  width: 75px;
  border-radius: 50%;
}

.imageContainer {
  position: relative;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editIcon {
  width: 35px;
  height: 35px;
  opacity: 0.8;
}

.albumBox {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    padding: 10px 5px;
  }

  .albumBox {
    width: 50px !important;
    height: 50px !important;
  }
}