.homeContainer {
    height: 100%;
    overflow-x: hidden;
    padding: 20px 30px;
    box-sizing: border-box;
}

.userWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.userImage {
    width: 120px;
    border-radius: 50%;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
}

.roundedButton {
    height: 40px;
    padding: 0px 15px;
    border-radius: 500px;
    cursor: pointer;
    color: #ffffff;
    background-color: #1DB954;
    border: 0px;
}

.buttonContents {
    display: flex;
    align-items: center;
    gap: 6px;
}

.spotifyIcon {
    width: 15px;
}

.collectionTitle, .albumPicksTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.folderList,
.boxList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 768px) {
    .homeContainer {
        padding: 10px 20px;
    }

    .userImage {
        width: 80px;
    }

    .profileContent {
        flex-direction: column-reverse !important;
    }

    .profileContent > div {
        width: 100% !important;
    }

    .collectionContainer {
        margin-bottom: 20px;
    }

    .albumPicksTitle {
        margin-top: 25px;
    }

    .collectionTitle {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}