.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  align-items: center;
  overflow: auto;
}

.title {
  width: 100%;
  max-width: 900px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}

.accountPanel {
  width: 100%;
  max-width: 900px;
  display: flex;
  border-radius: 10px;
  flex-grow: 1;
  max-height: calc(100% - 35px);
}

.content {
  width: 100%;
}

.tabSwitcher {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex-shrink: 0;
  row-gap: 16px;
}

.tab {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.tab.active {
  font-weight: 700;
}

.menuButton{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #282c34CC;
  cursor: pointer;
  display: none;
}

@media (max-width: 576px) {
  .mobileHidden {
    display: none;
  }

  .container {
    padding: 15px 10px;
  }

  .content {
    padding: 20px;
  }

  .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}