.userWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ybxIconSmall {
    width: 45px;
    border-radius: 5px;
}

.serviceIconLarge {
    width: 55px;
    border-radius: 50%;
}

.serviceCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 15px 15px;
    border-radius: 10px;
}

.smallText {
    font-size: 14px;
    color: #b6b6b6;
}

.mobileTitle {
    display: none;
}

@media (max-width: 576px) {
    .userWrapper {
        margin-bottom: 20px;
    }

    .mobileTitle {
        display: block;
    }
}