.queueSection {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 4px;
}

.linkDragOver {
    composes: queueSection;
    background-color: rgb(54, 54, 54);
}