.itemDetailContainer {
  height: 100%;
  overflow-x: hidden;
  padding: 20px 30px;
  box-sizing: border-box;
}

.itemDataViewer {
  height: 120px;
  padding: 10px;
	display: flex;
  align-items: center;
}

.itemImage {
	width: 100px;
}

.metadataContainer {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.itemTitle {
  font-weight: bold;
  font-size: 1.6em;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.itemDetails {
  font-size: .8em;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.popularReleases {
  padding-left: 12px;
}

@media (max-width: 576px) {
  .itemDetailContainer {
      padding: 10px 20px;
  }
}