.spotifyWrapper {
    overflow-x: hidden;
    padding: 0px 30px 20px 30px;
    box-sizing: border-box;
}

.titlePageRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 576px) {

    .spotifyWrapper {
        padding: 0px 10px 20px 10px;
    }

    .titlePageRow {
        margin-top: 15px;
        padding: 0px 10px;
    }
}