.menuItemsList {
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 61, 61);
    color: #ffffff;
    font-weight: 400;
    font-size: .8em;
}

.menuItem {
    padding: 4px 10px;
    cursor: pointer;
}

.menuItemSuccess {
    composes: menuItem;
    color: #00ff00;
}

.menuItem:hover {
    background-color: rgb(44, 44, 44);
}